.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    justify-content: center;
    align-items: center;
   
  }
  
  .grid-item img {
    width: 70%;
    height: auto;
    max-height: auto; 
    margin: 20px;
}

.title {
    margin: 10px;
    text-align: center;
}